.description {
  background-image: url("../img/backgrounds/background@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/backgrounds/background@2x.png");
  }
}

.description__wrapper {
  height: 100vh;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 2%;
}

.description__text {
  margin: 0 0 15px;
}

.description__list {
  @include reset-list;
  margin-bottom: 15px;
}

.description__item {
  margin-left: 10px;
  font-family: "Roboto", "Arial", sans-serif;
}

.description__link {
  display: inline-block;
  vertical-align: top;
  width: 125px;
  text-align: center;
  color: $dark-grey;
  background-color: $yellow;
  padding: 5px;
  border-radius: 3px;
  font-weight: 700;
  font-family: "Roboto", "Arial", sans-serif;
  text-transform: uppercase;
  margin-right: 20px;
}

.description__link:hover,
.description__link:focus {
  background-color: $orange;
}

.description__link:active {
  opacity: 0.7;
}

.description__button {
  display: inline-block;
  vertical-align: top;
  width: 125px;
  background-color: $purple;
  padding: 5px;
  border-radius: 3px;
  font-weight: 700;
  font-family: "Roboto", "Arial", sans-serif;
  border: none;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  cursor: pointer;
  outline: none;
}

.description__button:hover,
.description__button:focus {
  background-color: $pupple-hover;
}

.description__button:active {
  opacity: 0.7;
}

.description__container {
  display: flex;
}

@media (max-width: $mobile-width) {
  .description {
    font-size: 12px;
    line-height: 20px;
    background-image: url("../img/backgrounds/background-mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/backgrounds/background-mobile@2x.png");
    }
  }

  .description__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 150px 2%;

    background-position: left 0 bottom 0;
    background-size: auto;
  }
}
