.page-footer {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2% 20px;
  margin: 0 auto;
}

.page-footer__copyrights {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media (max-width: $mobile-width) {
  .page-footer {
    font-size: 12px;
    line-height: 20px;
    flex-direction: row-reverse;
    z-index: 10;

    &--catalog {
      position: fixed;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(180deg, rgba(19, 18, 18, 0) 0%, #131212 100%);
    }
  }

  .page-footer__copyrights {
    align-items: flex-start;
  }
}
