$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$white: #ffffff;
$black: #000000;
$navy: #44546d;
$yellow: #ffe26d;
$orange: #eea24b;
$dark-grey: #323232;
$mobile-width: 768px;
$bg-navy: #192c47;
$purple: #62497c;
$pupple-hover: #402061;
$bg-navy-hover: #2d5183;
